<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WIFICity -NeiWang.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>WIFICity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1662C6142122B3C700A2A100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16C79BC920CE6B5E00A67DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16C79BE120CE6B6500A67DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16C79BEC20CE6B6500A67DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
